* {
  color: white;
  margin: 0;
}

.box {
  line-height: 0;
  text-align: center;
  margin: 0 20px 0 0;
  height: 100px;
  width: 400px;
  border-radius: 50px;
  float: left;
  padding: 100px 0 0 0;
}

.line {
  background-color: #ff66aa;
  width: 12px;
  border-radius: 10px;
  height: 100px;
  position: relative;
  left: 20px;
  top: -50px;
  margin: 0;
  float: left;
}

.triplebox {
  float: left;
  width: 32%;
  border-radius: 50px;
  position: relative;
  margin: 0 0 0 1%;
  padding: 60px 0 40px;
  height: auto;
}

.topicbox {
  height: 0px;
  position: relative;
  top: 20px;
  border-radius: 50px;
  text-align: center;
  margin: 0 20px 40px;
  padding: 50px;
}

.boxtitle {
  line-height: 0;
  text-align: center;
  font-size: 36px;
  vertical-align: center;
}

.boxparagraph {
  position: relative;
  left: 10%;
  margin: 0;
  top: -2em;
  line-height: 2em;
}

.shadow {
  height: 1px;
  width: 140%;
  position: relative;
  left: -20%;
  top: -20px;
  filter: blur(3px);
  background-color: black;
  margin: 0;
  z-index: 5;
}

.topicboxtitle {
  border-radius: 25px;
  margin: 0 0 40px 0;
  padding: 20px 0px;
  width: 90%;
  text-align: center;
  position: relative;
  left: 5%;
  top: -50px;
}

table.sansboxlist {
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  position: relative;
  left: 5%;
  td,
  th {
    vertical-align: top;
    padding: 0;
    text-align: left;
  }
  th {
    font-size: 40px;
    position: relative;
    left: 2em;
  }
  td {
    font-size: 20px;
  }
}

.leftparagraph {
  float: left;
  font-size: 20px;
  padding: 20px;
  margin: 0 20px 0 0;
}

.bigbox {
  min-height: 200px;
  border-radius: 20px;
  padding: 20px;
}

p {
  font-size: 18px;
}

.underlinetext {
  border-style: solid;
  border-color: #ff66aa;
  border-width: 0 0 3px 0;
  width: fit-content;
  margin: 1em 0;
  padding-bottom: 0.2em;
}

.box.left {
  float: left;
}

.box.right {
  float: right;
}
