* {
  color: white;
  margin: 0;
}

.box {
  line-height: 0;
  text-align: center;
  margin: 0 20px 0 0;
  height: 100px;
  width: 400px;
  border-radius: 50px;
  float: left;
  padding: 100px 0 0 0;
}

.line {
  background-color: #ff66aa;
  width: 12px;
  border-radius: 10px;
  height: 100px;
  position: relative;
  left: 20px;
  top: -50px;
  margin: 0;
  float: left;
}

.triplebox {
  float: left;
  width: 32%;
  border-radius: 50px;
  position: relative;
  margin: 0 0 0 1%;
  padding: 60px 0 40px;
  height: auto;
}

.topicbox {
  height: 0px;
  position: relative;
  top: 20px;
  border-radius: 50px;
  text-align: center;
  margin: 0 20px 40px;
  padding: 50px;
}

.boxtitle {
  line-height: 0;
  text-align: center;
  font-size: 36px;
  vertical-align: center;
}

.boxparagraph {
  position: relative;
  left: 10%;
  margin: 0;
  top: -2em;
  line-height: 2em;
}

.shadow {
  height: 1px;
  width: 140%;
  position: relative;
  left: -20%;
  top: -20px;
  filter: blur(3px);
  background-color: black;
  margin: 0;
  z-index: 5;
}

.topicboxtitle {
  border-radius: 25px;
  margin: 0 0 40px 0;
  padding: 20px 0px;
  width: 90%;
  text-align: center;
  position: relative;
  left: 5%;
  top: -50px;
}

table.sansboxlist {
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  position: relative;
  left: 5%;
  td,
  th {
    vertical-align: top;
    padding: 0;
    text-align: left;
  }
  th {
    font-size: 40px;
    position: relative;
    left: 2em;
    font-family: exoname;
  }
  td {
    font-size: 20px;
    font-family: exoname;
    font-weight: normal;
  }
}

.leftparagraph {
  float: left;
  font-size: 20px;
  padding: 20px;
  margin: 0 20px 0 0;
  text-wrap: wrap;
}

.bigbox {
  min-height: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 0 0 20px;
  overflow: hidden;
  height: fit-content;
}

p {
  font-size: 18px;
}

.underlinetext {
  border-style: solid;
  border-color: #ff66aa;
  border-width: 0 0 3px 0;
  width: fit-content;
  margin: 1em 0;
  padding-bottom: 0.2em;
}

.box.left {
  float: left;
}

.box.right {
  float: right;
}

.bigboxtop {
  width: 100%;
}

.nomargin.bigbox {
  margin: 0;
  padding: 0;
}

.circle {
  width: 300px;
  height: 300px;
  position: relative;
  bottom: -150px;
  border-radius: 150px;
  left: 50px;
  z-index: 0;
}

.title {
  position: relative;
  font-size: 72px;
  line-height: 0;
  left: 40%;
  top: 150px;
}

.bigtext,
.mediumtext {
  margin: 0 0 20px 40px;
  font-family: ggsans;
}

.bigtext {
  margin-top: 150px;
  font-size: 75px;
  line-height: 75px;
  font-style: bold;
}

.mediumtext {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 4em 40px;
  font-weight: normal;
}

@font-face {
  font-family: "ggsans";
  src: url(fonts/gg-sans/ggsans-Normal.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ggsans";
  src: url(fonts/gg-sans/ggsans-Bold.ttf) format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "exoname";
  src: url(fonts/exo/Exo2-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "exoname";
  src: url(fonts/exo/Exo2-Bold.ttf) format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "evafont";
  src: url(fonts/evangelionfont/EPSON-KAISHO.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "YuMin";
  src: url(fonts/yumincho/YUMINDB.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "wildwords";
  src: url(fonts/wildwords/CC\ WILD\ WORDS\ ROMAN.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "percona";
  src: url(fonts/Percona/PERSONA5MAIN.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "kimchi";
  src: url(fonts/kimchi/KIMCHIMOCHI.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "system";
  src: url(fonts/system/BERKELIUMIIHGR.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "mochiy";
  src: url(fonts/Other\ Fonts/MOCHIYPOPONE-REGULAR.TTF) format("truetype");
  font-style: normal;
  font-weight: normal;
}

.mochiy{
  font-family: mochiy;
}

.system {
  font-family: system;
}

.kimchi{
  font-family: kimchi;
  letter-spacing: 3px;
}

.percona{
  font-family: percona;
}

.wildwords{
  font-family: wildwords;
}

.nametitle {
  font-family: YuMin;
  font-size: 50px;
}

.evafont {
  font-family: evafont;
}

.yumin {
  font-family: YuMin;
}

.button {
  float:right;
  border-radius: 50px;
  position: relative;
  top: 35px;
  padding: 50px;
}

.nopadding {
  padding: 0px;
  margin: 0px;
  height: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 80%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.5s;
  width: fit-content;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
}

.clickbox{
  float: left;
  position: relative;
  height: 45px;
  padding: 15px 6px 0 10px;
  font-size: 30px;
  border-radius: 10px;
}

.clickbox.thispage{
  background-color: #00000022;
}

.clickbox:hover{
  background-color: #00000022;
}