header {
  border-width: 0 0 2px;
  border-left-color: blue;
  height: 200px;
  margin: 0;
  background-color: #26332a;
}
body {
  background-color: #141916;
  padding: 0;
  margin: 0;
}
#main {
  position: relative;
  top: -100px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  padding: 20px;
  height: fit-content;
  overflow: hidden;
}
#flower {
  width:100%;
  height: 600px;
  object-fit: cover;
}

#aboutme {
  padding: 50px;
}

