header {
  border-width: 0 0 2px;
  border-left-color: blue;
  height: 200px;
  margin: 0;
  background-color: #26332a;
}
body {
  background-color: #141916;
  padding: 0;
  margin: 0;
}
#main {
  position: relative;
  top: -100px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  padding: 20px;
  height: fit-content;
  overflow: hidden;
}
h2 {
  margin: 0;
  padding: 20px;
  height: 205px;
  overflow-x: hidden;
  overflow-y: visible;
}
h3 {
  margin: 0px;
  padding: 5px 0 5px 20px;
  height: fit-content;
  min-height: 60px;
}
#flower {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 0px;
  display: none;
}

#girl {
  width: 270px;
  margin: 15px;
  border-radius: 150px;
}

#aboutme {
  padding: 50px;
}
